
.hannah-h1 {
  margin: inherit;
  font-weight: 400;
  font-family: 'IBM Plex Mono', monospace;
}

.hannah-h2 {
  margin: inherit;
  font-weight: 300;
  font-family: 'IBM Plex Mono', monospace;
}

.hannah-h3 {
  margin: inherit;
  font-weight: 200;
  font-family: 'IBM Plex Mono', monospace;
}

.hannah-p {
  margin: inherit;
  font-weight: 100;
  font-family: 'IBM Plex Mono', monospace;
}

.list {
  font-weight: 200;
  font-style: italic;
}

.white {
  color: white;
}

.black {
  color: black;
}

.uppercase {
  text-transform: uppercase;
}

.bold {
  font-weight: bold;
}

