
.hannah-h1 {
  font: 22px/2.2 Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
  margin: inherit;
}

.hannah-h2 {
  font: 16px/1.6 Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
  margin: inherit;
}

.hannah-p {
  font: 14px/1.4 Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
  margin: inherit;
}

.white {
  color: white;
}

.black {
  color: black;
}

.uppercase {
  text-transform: uppercase;
}


