body {
  margin: 0;
}

.hannah-fullHeight {
  height: 100vh;
  background-image: url('./assets/CDMX.jpeg')
}

.hannah-sidebar {
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  background-color: rgba(223, 96, 209, 0.8);
}

.hannah-content {
  height: 100vh;
  background-color: white;
}

