@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

body {
  margin: 0;
}

* {
  font-family: 'IBM Plex Mono', monospace;
}

.hannah-fullHeight {
  height: 100vh;
  background-image: url('./assets/CDMX.jpeg')
}

.hannah-sidebar {
  height: 100%;
  display: flex;
  position: static;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgba(223, 96, 209, 0.8);
}

.hannah-content {
  height: 100vh;
  background-color: white;
}

